/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, section, article, h1, h2, p, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

form {
 margin: 100px auto 0 auto;
 width: 500px;
 text-align: center;
}

.pin-logo {
 width: 250px;
}

input {
 margin: 0 10px 10px 10px;
 padding: 10px;
 width: 200px;
 font-size: 16px;
}

button {
  margin: 10px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #f2d737;
  cursor: pointer;
  font-size: 14px;
}

#demo-link-container {
  width: 250px;
  margin: 0 auto 0 auto;
}

#nav-bar {
  background-color: #f2d737;
  width: 268px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav-bar a {
  text-decoration: none;
  color: black;
}

.navigation {
  width: inherit;
  margin-top: 30px;
}

.nav-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-item {
  margin: 0px;
  padding: 10px 0px 10px 30px;
  width: 238px;
  text-align: left;
  height: 30px;
}

.nav-item:hover {
  background-color: #e7c80f;
}

.nav-header {
  margin-left: 30px;
  font-weight: bold;
}

.board {
  float: right;
}

.pin-index {
  width: inherit;
  float: right;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  /*flex-direction: column;*/
}

.pin-index-item {
  width: 250px;
  position: relative;
}

.pin-image {
  width: inherit;
}

.comment-overlay {
  display: none;
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0px;
  padding: 10px;
  box-sizing: border-box;
}

.pin-index-item:hover .comment-overlay {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  color: white;
  opacity: 0.6;
  z-index: 3;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
