.board-index {
  justify-content: flex-start;
}

.board-index-item {
  background-color: lightgray;
  margin-right: 5px;
  padding: 10px;
  width: 200px;
  position: relative;
  cursor: pointer;
}

.board-index-item:hover {
  background-color: #f2d737;
}

.board-owner {
  cursor: pointer;
}
