.header {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 30px;
}

.header-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.header-link {
  text-decoration: none;
  color: gray;
  margin-left: 5px;
  margin-right: 5px;
}

.active {
  color: #f2d737;
}

.header-name {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.board-owner {
  font-size: 14px;
  color: grey;
}

.fa.fa-cog {
  color: grey;
  font-size: 22px;
  margin: 10px;
  align-self: flex-end;
  cursor: pointer;
}
