.main {
  margin-left: 60px;
  transition: all 0.4s;
  height: 100vh;
  padding-left: 30px;
  padding-right: 20px;
  width: 93vw;
}

#nav-bar {
  margin-top: 0;
  height: 100vh;
  width: 268px;
  position: fixed;
  background-color: #f2d737;
  left: -216px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  overflow-x:hidden;
  overflow-y: auto;
}

.fa.fa-bars {
  color: black;
  font-size: 22px;
  position: absolute;
  right: 17px;
  top: 25px;
}

#nav-bar a {
  text-decoration: none;
  color: black;
}

.sidebar-content {
  width: inherit;
  margin-top: 60px;
  display: none;
}

.nav-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.nav-item {
  padding: 5px 0px 5px 47px;
  width: 238px;
  text-align: left;
  height: 20px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  color: #96820a;
}

.nav-item .nav-item-link {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
}

.nav-item:hover {
  background-color: #f0d21f;
}

.nav-header {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 30px;
  font-size: 16px;
  display: flex;
  align-items: baseline;
}

.nav-header .nav-header-link {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
}

.fa.fa-chevron-right {
  font-size: 10px;
  margin-right: 10px;
}

#nav-bar:hover + .main {
  margin-left: 268px;
  transition: all 0.4s;
}

#nav-bar:hover {
  left: 0;
}

#nav-bar:hover .fa.fa-bars {
  display: none;
}

#nav-bar:hover .sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.new-board-button {
  margin-top: 10px;
  color: black;
}

.feed-link {
  font-size: 16px;
  color: black;
}

.nav-button {
  font-size: 16px;
  color: black;
}
