.pin-detail {
  min-width: 500px;
}

.pin-detail-sub {
  height: 100%;
}

.pin-detail-image {
  margin-bottom: 20px;
}

.pin-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pin-detail-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.fa.fa-thumb-tack {
  cursor: pointer;
  font-size: 30px;
}

.fa.fa-trash.pin-delete {
  margin-left: 5px;
  cursor: pointer;
  font-size: 30px;
}

.pin-form-button {
  float: right;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #f2d737;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
