.pin-index {
  position: relative;
}

.pin-index-item {
  width: inherit;
  height: inherit;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 300px;
  position: relative;
  cursor: pointer;
}

.pin-image {
  width: inherit;
}

.comment {
  display: flex;
}

.pin-index-item .comment-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.pin-index-item:hover .comment-overlay {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 3;
}

.fa.fa-commenting-o {
  margin-right: 5px;
}
