.pin-index {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.pin-index-item {
  width: 250px;
  position: relative;
  cursor: pointer;
}

.pin-index-sub {
  width: inherit;
  height: inherit;
  position: relative;
}

.pin-image {
  width: inherit;
}

.pin-index-sub .comment-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.pin-index-item:hover .comment-overlay {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 3;
}
