.profile-main {
  padding: 20px;
}

.user-index-item {
  height: 30px;
  width: 250px;
  margin-right: 5px;
  text-align: center;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-button {
  background-color: gray;
  color: white;
  width: 70px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.icon-name {
  display: flex;
  align-items: baseline;
}

.fa.fa-user {
  margin-right: 10px;
}

.user-name {
  cursor: pointer;
}
