.profile-main {
  padding: 20px;
}

.user-index-item {
  background-color: lightgray;
  height: 30px;
  width: 250px;
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-button {
  background-color: gray;
  color: white;
  width: 70px;
  text-align: center;
  padding: 5px;
}
