/*#nav-bar {
  background-color: #f2d737;
  width: 268px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*/

#nav-bar a {
  text-decoration: none;
  color: black;
}

.navigation {
  width: inherit;
  margin-top: 30px;
}

.nav-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-item {
  margin: 0px;
  padding: 10px 0px 10px 30px;
  width: 238px;
  text-align: left;
  height: 30px;
}

.nav-item:hover {
  background-color: #e7c80f;
}

.nav-header {
  margin-left: 30px;
  font-weight: bold;
}

#nav-bar {
  margin-top: 0;
  height: 100vh;
  width: 268px;
  position: fixed;
  background-color: #f2d737;
  left: -216px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  overflow-x:hidden;
  overflow-y: auto;
}

#nav-bar:hover + .main {
  margin-left: 268px;
  transition: all 0.4s;
}

#nav-bar:hover {
  left: 0;
}
#nav-bar:hover + .navigation {
  display: block;
}
